---

global:
  edition: ce
  gitlabVersion: "18.5.2"

  hosts:
    domain: gitlab.fillswim.local
    https: true

  ingress:
    enabled: true
    configureCertmanager: false
    annotations:
      cert-manager.io/cluster-issuer: ca-cluster-issuer
      kubernetes.io/ingress.class: nginx
    tls:
      enabled: true
      secretName: gitlab-tls

  psql:
    host: gitlab-postgresql-rw.cnpg-system.svc.cluster.local
    port: 5432
    database: gitlab-db
    username: gitlab
    password:
      useSecret: true
      secret: postgresql-auth-secret-for-gitlab
      key: password

  redis:
    auth:
      enabled: true
      secret: redis-auth-secret-for-gitlab
      key: password
    host: redis.redis-gitlab.svc.cluster.local
    port: 6379

  minio:
    enabled: false

  # -------------------------------
  # 3) Подключаем внешний MinIO/S3
  # -------------------------------
  appConfig:
    object_store:
      enabled: true
      connection:
        aws_access_key_id: gitlab
        endpoint: https://minio.example.com
        secret: minio-auth-secret-for-gitlab
        key: secretkey
        force_path_style: true
        # provider: AWS
        # aws_secret_access_key: SECRET_KEY
        # region: us-east-1

      objects:
        artifacts:
          bucket: gitlab-artifacts
          enabled: true
        lfs:
          bucket: gitlab-lfs
          enabled: true
        uploads:
          bucket: gitlab-uploads
          enabled: true
        packages:
          bucket: gitlab-packages
          enabled: true
        terraform_state:
          bucket: gitlab-terraform
          enabled: true
        dependency_proxy:
          bucket: gitlab-dependency-proxy
          enabled: true

postgresql:
  install: false

redis:
  install: false

# -------------------------------
# 6) Масштабируем GitLab PODs в HA
# -------------------------------
gitlab:
  webservice:
    replicas: 3

  sidekiq:
    replicas: 3

  gitlab-shell:
    replicas: 3

  gitaly:
    # Если без Praefect → 3 отдельные gitaly-реплики
    replicas: 3

  toolbox:
    replicas: 3


upgradeCheck:
  enabled: false
