expose:
  type: ingress
  tls:
    enabled: true
    certSource: secret
    secret:
      secretName: "harbor-tls"
  ingress:
    hosts:
      core: harbor-ha.fillswim.local
    className: "nginx"
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: ca-cluster-issuer

database:
  type: external
  external:
    host: postgresql-primary.postgresql-harbor.svc.cluster.local
    port: "5432"
    username: "user"
    coreDatabase: "harbor-ha"
    existingSecret: "postgresql-auth-secret-for-harbor"

redis:
  type: external
  external:
    # addr: "redis.redis-harbor.svc.cluster.local:6379"
    addr: "redis.redis-harbor.svc.cluster.local:26379"
    sentinelMasterSet: "mymaster"
    password: "P4ssw0rd"
    # existingSecret: "redis-auth-secret-for-harbor"

persistence:
  enabled: true
  resourcePolicy: "keep"
  persistentVolumeClaim:
    registry:
      size: 50Gi
      accessMode: ReadWriteMany
    jobservice:
      jobLog:
        size: 10Gi
        accessMode: ReadWriteMany
    trivy:
      size: 5Gi
      accessMode: ReadWriteMany

existingSecretAdminPassword: "harbor-auth-secret"
existingSecretAdminPasswordKey: admin-password

nginx:
  replicas: 3

portal:
  replicas: 3

registry:
  replicas: 3

core:
  replicas: 3

jobservice:
  replicas: 3

exporter:
  replicas: 3

trivy:
  replicas: 3

chartmuseum:
  replicas: 3
