image:
  repository: grafana/mimir
  tag: 3.0.0

global:

  extraEnvFrom:
    - secretRef:
        name: minio-for-mimir-secret

  dnsService: kube-dns
  dnsNamespace: kube-system
  clusterDomain: cluster.local.

mimir:
  structuredConfig:

    ingest_storage:
      enabled: false
    ingester:
      push_grpc_method_enabled: true

    common:
      storage:
        backend: s3
        s3:
          endpoint: minio.minio.svc.cluster.local:9000
          access_key_id: ${MINIO_ACCESS_KEY}
          secret_access_key: ${MINIO_SECRET_KEY}
          insecure: true
          http:
            insecure_skip_verify: true

    blocks_storage:
      backend: s3
      s3:
        bucket_name: mimir-blocks

    alertmanager_storage:
      backend: s3
      s3:
        bucket_name: mimir-alertmanager

    ruler_storage:
      backend: s3
      s3:
        bucket_name: mimir-ruler

ingester:
  enabled: true
  replicas: 3
  persistentVolume:
    enabled: true
    name: storage
    accessModes:
      - ReadWriteOnce
    size: 20Gi

store_gateway:
  enabled: true
  replicas: 3
  persistentVolume:
    enabled: true
    name: storage
    accessModes:
      - ReadWriteOnce
    size: 20Gi

distributor:
  enabled: true
  replicas: 3

querier:
  enabled: true
  replicas: 3

query_frontend:
  replicas: 3

query_scheduler:
  replicas: 2

ruler:
  replicas: 2

alertmanager:
  replicas: 2

compactor:
  replicas: 2

gateway:
  replicas: 2

minio:
  enabled: false

kafka:
  enabled: false

ingress:
  enabled: true
  ingressClassName: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: ca-cluster-issuer
  hosts:
    - mimir.fillswim.local
  tls:
    - secretName: mimir-distribted-tls
      hosts:
        - mimir.fillswim.local