image:
  repository: grafana/mimir
  tag: 3.0.0

global:

  extraEnvFrom:
    - secretRef:
        name: minio-for-mimir-secret

  dnsService: kube-dns
  dnsNamespace: kube-system
  clusterDomain: cluster.local.

ingress:
  enabled: true
  ingressClassName: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: ca-cluster-issuer
  hosts:
    - mimir.fillswim.local
  tls:
    - secretName: mimir-distribted-tls
      hosts:
        - mimir.fillswim.local

# runtimeConfig:
  # ingester_limits: # limits that each ingester replica enforces
  #   max_ingestion_rate: 20000
  #   max_series: 1500000
  #   max_tenants: 1000
  #   max_inflight_push_requests: 30000
  # distributor_limits: # limits that each distributor replica enforces
  #   max_ingestion_rate: 20000
  #   max_inflight_push_requests: 30000
  #   max_inflight_push_requests_bytes: 50000000
  # overrides:
  #   tenant-1: # limits for tenant-1 that the whole cluster enforces
  #     ingestion_tenant_shard_size: 9
  #     max_global_series_per_user: 1500000
  #     max_fetched_series_per_query: 100000

mimir:

  structuredConfig:

    common:
      storage:
        backend: s3
        s3:
          endpoint: minio.minio.svc.cluster.local:9000
          access_key_id: ${MINIO_ACCESS_KEY}
          secret_access_key: ${MINIO_SECRET_KEY}
          insecure: true
          http:
            insecure_skip_verify: true

    limits:
      ingestion_rate: 200000
      ingestion_burst_size: 500000
      max_global_series_per_user: 1500000

    ingest_storage:
      enabled: false
    ingester:
      push_grpc_method_enabled: true

    blocks_storage:
      backend: s3
      s3:
        bucket_name: mimir-blocks

    alertmanager_storage:
      backend: s3
      s3:
        bucket_name: mimir-alertmanager

    ruler_storage:
      backend: s3
      s3:
        bucket_name: mimir-ruler

ingester:
  enabled: true
  replicas: 3
  persistentVolume:
    enabled: true
    name: storage
    accessModes:
      - ReadWriteOnce
    size: 20Gi

store_gateway:
  enabled: true
  replicas: 3
  persistentVolume:
    enabled: true
    name: storage
    accessModes:
      - ReadWriteOnce
    size: 20Gi

distributor:
  enabled: true
  replicas: 3

querier:
  enabled: true
  replicas: 3

query_frontend:
  replicas: 3

query_scheduler:
  replicas: 2

ruler:
  replicas: 2

alertmanager:
  replicas: 2

compactor:
  replicas: 2

gateway:
  replicas: 2

minio:
  enabled: false

kafka:
  enabled: false
