image:
  repository: grafana/mimir
  tag: 3.0.0

global:
  dnsService: kube-dns
  dnsNamespace: kube-system
  clusterDomain: cluster.local.
  extraEnv:
    - name: MINIO_USER
      valueFrom:
        secretKeyRef:
          name: minio-for-mimir-secret
          key: accessKey
    - name: MINIO_PASSWORD
      valueFrom:
        secretKeyRef:
          name: minio-for-mimir-secret
          key: secretKey

mimir:
  structuredConfig:
    common:
      storage:
        backend: s3
        s3:
          bucket_name: "mimir"
          endpoint: "http://minio.minio.svc.cluster.local:9000"
          # region: "us-east-1"
          access_key_id: "${MINIO_USER}"
          secret_access_key: "${MINIO_PASSWORD}"
          http:
            insecure_skip_verify: true

ingester:
  enabled: true
  replicas: 3
  persistentVolume:
    enabled: true
    name: storage
    accessModes:
      - ReadWriteOnce
    size: 20Gi

store_gateway:
  enabled: true
  replicas: 3
  persistentVolume:
    enabled: true
    name: storage
    accessModes:
      - ReadWriteOnce
    size: 20Gi

distributor:
  enabled: true
  replicas: 3

querier:
  enabled: true
  replicas: 3

query_frontend:
  replicas: 3

query_scheduler:
  replicas: 2

ruler:
  replicas: 2

alertmanager:
  replicas: 2

compactor:
  replicas: 2

gateway:
  replicas: 2

minio:
  enabled: false

ingress:
  enabled: true
  ingressClassName: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: ca-cluster-issuer
  hosts:
    - mimir.fillswim.local
  tls:
    - secretName: mimir-distribted-tls
      hosts:
        - mimir.fillswim.local