# =================================================================================================
#                                               Global
# =================================================================================================

prometheus:

  enabled: true

  ingress:
    enabled: true
    ingressClassName: "nginx"
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: ca-cluster-issuer
    hosts:
      - prometheus-rhel-k8s1.fillswim.local
    tls:
      - secretName: prometheus-tls
        hosts:
          - prometheus-rhel-k8s1.fillswim.local

  prometheusSpec:

    overrideHonorLabels: true
    overrideHonorTimestamps: true
    allowOverpassTLS: true
    allowOverpassRemoteWriteHeaders: true

    externalLabels:
      cluster: rhel-k8s1

    remoteWrite:
      - url: https://mimir.fillswim.local/api/v1/push
        headers:
          X-Scope-OrgID: "fillswim"
        tlsConfig:
          insecureSkipVerify: true

        # writeRelabelConfigs:
        #   - sourceLabels: [__name__]
        #     regex: "node_cpu_seconds_total|node_memory_MemAvailable_bytes|node_memory_MemTotal_bytes|node_filesystem_avail_bytes|node_filesystem_size_bytes|node_uname_info"
        #     action: keep

        writeRelabelConfigs:
          - sourceLabels: [__name__]
            regex: >-
              node_cpu_seconds_total|
              node_memory_MemAvailable_bytes|
              node_memory_MemTotal_bytes|
              node_filesystem_avail_bytes|
              node_filesystem_size_bytes|
              node_uname_info
            action: keep


        # Настройки надёжной доставки
        sendExemplars: true
        queueConfig:
          capacity: 50000
          maxShards: 50
          minShards: 5
          maxSamplesPerSend: 2000  # меньше батчи → меньше 429
          batchSendDeadline: 10s
          minBackoff: 500ms
          maxBackoff: 30s

    # Чтобы Prometheus локально не хранил много (он становится "агентом" (для Prometheus c Grafana Mimir))
    retention: 2h
    retentionSize: "2GB"

    ## EnableAdminAPI enables Prometheus the administrative HTTP API which includes functionality such as deleting time series.
    enableAdminAPI: true
    secrets:
      - etcd-client-cert

    # 2025-10-23: Добавлено для сохранения данных в PersistentVolumeClaim
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi

    ## 2025-10-23: Задает на какой период времени хранить данные в метрик (для Prometheus без Grafana Mimir)
    # retention: 15d
    # retentionSize: "10GiB"

    ## Interval between consecutive scrapes.
    scrapeInterval: "30s"
    evaluationInterval: "30s"

    resources:
      requests:
        memory: 2Gi
        cpu: 500m
      limits:
        memory: 4Gi
        cpu: 1000m

# =================================================================================================
#                                               kubeEtcd
# =================================================================================================

## Component scraping etcd
kubeEtcd:
  enabled: true

  ## If your etcd is not deployed as a pod, specify IPs it can be found on
  endpoints: []
  # - 10.141.4.22
  # - 10.141.4.23
  # - 10.141.4.24

  ## Etcd service. If using kubeEtcd.endpoints only the port and targetPort are used
  service:
    enabled: true
    port: 2381
    targetPort: 2379
    ipDualStack:
      enabled: false
      ipFamilies: ["IPv6", "IPv4"]
      ipFamilyPolicy: "PreferDualStack"

  serviceMonitor:
    scheme: https
    insecureSkipVerify: false
    serverName: localhost
    caFile: /etc/prometheus/secrets/etcd-client-cert/ca.crt
    certFile: /etc/prometheus/secrets/etcd-client-cert/client.crt
    keyFile: /etc/prometheus/secrets/etcd-client-cert/client.key

# =================================================================================================
#                                            Alertmanager
# =================================================================================================

alertmanager:
  alertmanagerSpec:
    replicas: 3
    retention: 120h # 5 days

    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

    resources:
      requests:
        memory: 400Mi
        cpu: 100m
      limits:
        memory: 800Mi
        cpu: 200m

# =================================================================================================
#                                              Grafana
# =================================================================================================

grafana:
  enabled: false
