global:

  extraEnvFrom:
    - secretRef:
        name: minio-for-tempo-secret

  dnsService: kube-dns
  dnsNamespace: kube-system
  clusterDomain: cluster.local.

storage:
  trace:
    backend: s3
    s3:
      bucket: tempo-traces
      region: us-east-1
      endpoint: minio.minio.svc.cluster.local:9000
      access_key: ${MINIO_ACCESS_KEY}
      secret_key: ${MINIO_SECRET_KEY}
      insecure: true
      # http:
      #   insecure_skip_verify: true

minio:
  enabled: false

traces:
  otlp:
    http:
      enabled: true
    grpc:
      enabled: false
      # port: 4317

ingress:
  enabled: true
  ingressClassName: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: ca-cluster-issuer
    # nginx.ingress.kubernetes.io/backend-protocol: "GRPC"
  paths:
    distributor:
      - path: /v1/traces
        port: 4318               # это порт distributor service для OTLP/HTTP
  hosts:
    - tempo.fillswim.local
  tls:
    - secretName: tempo-distributed-tls
      hosts:
        - tempo.fillswim.local

ingester:
  replicas: 3

gateway:
  enabled: true
  replicas: 3

distributor:
  replicas: 3

compactor:
  replicas: 3

querier:
  replicas: 3

queryFrontend:
  replicas: 3