opentelemetry-collector:
  enabled: true

  config:
    exporters:
      otlphttp/alloy:
        endpoint: http://alloy.alloy.svc.alma-k8s2:4318
        tls:
          insecure: true

    service:
      pipelines:
        traces:
          exporters: [otlphttp/alloy, debug, spanmetrics]

jaeger:
  enabled: false

grafana:
  enabled: false

prometheus:
  enabled: false

opensearch:
  enabled: false
